    :root {
    --primary-color: #D4AF37; /* Gold colored text */
    --background-color: #000000; /* Pure Black background */
    --card-background-color: #000000; /* Consider changing this to a darker shade if necessary */
}

body {
    background-image: url('path_to_your_background_image.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Container for the logo and menu bar */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; /* Adjust as needed */
}

.site-header {
    /* Assume that your header has a certain height */
    height: 300px; /* Adjust to your preference */
    background-image: url('images/city_2.jpg');
    background-size: cover; /* This will ensure the image covers the entire header */
    background-repeat: no-repeat;
    background-attachment: scroll; /* This will make the background scroll with the page */
    background-position: center center; /* This centers the background image */
}

.site-content {
    width: 800px; /* Set the width to 800px */
    margin: 0 auto; /* Center the content block horizontally */
    max-width: 100%; /* Ensure that it doesn't overflow on smaller screens */
}

.logo {
    flex: 1; /* Adjust as needed */
}

/* Menu bar styles */
.menu-bar {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-bar li {
    padding: 0 1rem; /* Adjust spacing between menu items */
}

.menu-bar a {
    text-decoration: none;
    color: var(--primary-color);
}

/* Central text area styles */
.central-text {
    max-width: 800px; /* Set the max-width for the central text */
    margin: 2rem auto; /* Centers the block with automatic horizontal margins */
    padding: 1rem;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background for readability */
    color: white;
    border-radius: 10px; /* Optional rounded corners */
}

/* Footer styles */
footer {
    background-color: var(--card-background-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Styles for the "About" section in the footer */
.about-section {
    padding: 1rem;
    margin-top: 2rem;
    border-top: 1px solid var(--primary-color); /* Separates the "About" from the rest of the content */
}

/* Ensure all the text aligns properly with your design */
p, h1, h2, h3, ul, li, a {
    text-align: center; /* Center text for a focused layout */
    /* Add any additional styles needed for typography */
}

/* Responsive Design: Adjustments for smaller screens */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    .menu-bar {
        flex-direction: column;
        align-items: center;
    }

    .central-text, .about-section {
        max-width: 90%; /* Allows more space on smaller screens */
    }
}
