<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starlight Robotics</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="site-header city-background">
        <nav class="site-nav">
           <a href="https://starlightrobotics.github.io/index.html"><b>Home</b></a>
           <a href="https://github.com/starlightrobotics/arcane-manual">ARCANE Manual</a>
           <a href="https://github.com/starlightrobotics/starlight-sensing">Community</a>
           <a href="https://github.com/starlightrobotics/starlight-sensing">Mission</a>
           <a href="https://github.com/starlightrobotics/starlight-sensing">Automation</a>
            <a href="https://github.com/starlightrobotics/starlight-sensing">Sensors</a>
            <a href="https://github.com/starlightrobotics/starlight-sensing">Writeups</a>
            <a href="https://github.com/starlightrobotics/starlight-sensing">Team</a>
        </nav>
    </header>
    
                <p><img width=600 src="images/city.jpg"></p>
    <main class="site-content">
        {{ content }}
    </main>
    <footer class="site-footer">
        <h2>About</h2>
                <p>Starlight Robotics offers a gateway to ultra high-end robotics, software development, and AI, fostering a culture of personalised innovation. Our commitment to cyber-safety shapes a unique, exclusive learning environment for technology exploration.</p>

                <h2>Contact</h2>
                <p>Instagram: <a href="https://www.instagram.com/starlightrobotics/" target="_blank">@starlightrobotics</a></p>
                <p>Telegram: <a href="https://t.me/starlightrobotics" target="_blank">Public channel</a></p>
                <p>Reddit: <a href="https://www.reddit.com/r/starlightrobotics/" target="_blank">Our Community</a></p>
                <p>Discord: <a href="https://discord.gg/zarD7dweKz" target="_blank">Our Community</a></p>
                <p>Patron: <a href="https://patreon.com/StarlightRobotics" target="_blank">Support on Patron</a></p>
    </footer>
    <script src="scripts.js"></script>
</body>
</html>
