<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starlight Robotics</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="site-header city-background">
        <nav class="site-nav"><font size=5>
           <a href="https://starlightrobotics.github.io/index.html"><b>Home</b></a>>
           <a href="https://starlightrobotics.github.io/index.html">Services</a>
           <a href="https://github.com/starlightrobotics/arcane-manual">ARCANE Manual</a>
           <a href="https://www.reddit.com/r/starlightrobotics/">Community</a>
           <a href="https://github.com/starlightrobotics/starlight-sensing">Mission</a>
            <a href="https://github.com/starlightrobotics/starlight-sensing">Sensors</a>
        </font>
        </nav>
    </header>
    
    <main class="site-content">
        {{ content }}
    </main>
    <footer class="site-footer">
        <h2>About</h2>
                <p>Starlight Robotics offers a gateway to ultra high-end cybersecure robotics, software development, and AI, fostering a culture of personalised innovation. Our commitment to cyber-safety shapes a unique, exclusive learning environment for technology exploration.</p>

                <h2>Contact</h2>
                <p>Instagram: <a href="https://www.instagram.com/starlightrobotics/" target="_blank">@starlightrobotics</a></p>
                <p>Telegram: <a href="https://t.me/starlightrobotics" target="_blank">Public channel</a></p>
                <p>Reddit: <a href="https://www.reddit.com/r/starlightrobotics/" target="_blank">Our Community</a></p>
                <p>Discord: <a href="https://discord.gg/zarD7dweKz" target="_blank">Our Community</a></p>
                <p>Patron: <a href="https://patreon.com/StarlightRobotics" target="_blank">Support on Patron</a></p>
        
                <p><font style="font-family: 'Orbitron', sans-serif;" color=white><i>Since 2023</i></font></p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js">
</body>
</html>
